{% include base_path %}

{% assign is_cn = false %}
{% if page.url contains "/cn" %}
  {% assign is_cn = true %}
{% endif %}

<div class="masthead">
  <div class="masthead__inner-wrap">
    <div class="masthead__menu">
      <nav id="site-nav" class="greedy-nav">
        <button><div class="navicon"></div></button>
        <ul class="visible-links">
          <li class="masthead__menu-item masthead__menu-item--lg" style="display:inline-flex;align-items:center;"><a href="{{ base_path }}/">EN</a><span style="color:#aaa;padding:0 3px;">|</span><a href="{{ base_path }}/cn/">中文</a></li>
          {% if is_cn %}
            {% assign nav_links = site.data.navigation.main_cn %}
          {% else %}
            {% assign nav_links = site.data.navigation.main %}
          {% endif %}
          {% for link in nav_links %}
            {% if link.url contains "http" %}
              {% assign domain = "" %}
              {% else %}
              {% assign domain = base_path %}
            {% endif %}
            <li class="masthead__menu-item"><a href="{{ domain }}{{ link.url }}">{{ link.title }}</a></li>
          {% endfor %}
        </ul>
        <ul class="hidden-links hidden"></ul>
      </nav>
    </div>
  </div>
</div>
